*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto' sans-serif;
}
body{
}
.wrapper{
	width: 100%;
	background-image: url('../images/home_background.png');
	background-repeat: no-repeat;
	background-size: cover;
/*	box-shadow: inset 0 0 0 1000px rgba(0,118,64,.5);*/
	padding-bottom: 100px;
	border: 1px solid black;
	display: flex;
}
.wrapper .login-form{
	width: 48%;
/*	border: 2px solid black;*/
}

/*to adjust the pading space on the login-form section*/

.wrapper .login-form .login-form-container{
	width: 62%;
	margin: 0 auto;
	background-color: white;
	margin-top: 200px;
	margin-left: 200px;
	padding: 45px 40px;
	border: 1px solid rgba(0,118,64);
	border-radius: 15px;	
}
.wrapper .login-form .login-form-container h3{
	font-size: 25px;
	text-align: center;
}
.wrapper .login-form .login-form-container form{
	margin-top: 25px;
}
.wrapper .login-form .login-form-container form label{
	font-size: 14px;
	margin-bottom: 20px;
}
.wrapper .login-form .login-form-container form .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 5px;
}
/*.wrapper .login-form .login-form-container form .input-container:hover{
  border: 1px solid rgba(0,118,64);

}*/
.wrapper .login-form .login-form-container form .icon {
  padding: 15px 10px 5px 10px;
  background: #fff;
  color: rgb(224, 224, 224, 1.0);
  border:1px solid rgb(147, 147, 147);
  border-right:none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 50px;
  text-align: center;
  font-size:15px;
}
.wrapper .login-form .login-form-container form .input-field {
  width: 100%;
  height: 45px;
  font-size:13px !important;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  border:1px solid rgb(147, 147, 147, 1.0);
  border-left:none;
  color:#000;
  transition: alls .3s ease;
}
/*.wrapper .login-form .login-form-container form .input-field:hover{
  border: 1px solid rgba(0,118,64);
  box-shadow: 2px 1px 20px 1px;
}*/
.wrapper .login-form .login-form-container form .check{
	display: flex;
	justify-content: space-between;
}
.wrapper .login-form .login-form-container form .check .remember{
	display: flex;
}
.wrapper .login-form .login-form-container form .check .remember input{
	display: none !important;
}
.wrapper .login-form .login-form-container form .check .remember label{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ccc;
	border: 3px solid #ccc;
	padding: 2px;
	cursor: pointer;
}
.wrapper .login-form .login-form-container form .check .remember input:checked + label{
	background-color: #4CAF50;
}
.wrapper .login-form .login-form-container form .check .remember p{
	font-size: 14px;
	margin-top: 2px;
	margin-left: 5px;
}
.wrapper .login-form .login-form-container form .check .forgot a{
	font-size: 14px;
	text-decoration: none;
	color: black;
	transition: .5s ease;
}
.wrapper .login-form .login-form-container form .check .forgot a:hover{
	color: rgba(0,118,64);
}
.wrapper .login-form .login-form-container form .submit input{
	width: 320px;
	height: 45px;
	color: white;
	background-color: rgba(0,118,64);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/*to adjust the padding-top of login-text section*/

.wrapper .login-text{
	width: 52%;
/*	border: 1px solid white;*/
	padding: 160px 50px 100px 0px;
}
.wrapper .login-text .logo{
	width: 160px;
	height: 160px;
	margin-left: 27%;
/*	margin: 0 auto;*/
}
.wrapper .login-text .logo img{
	width: 100%;
	height: 100%;
}
.wrapper .login-text .text{
	width: 80%;
	color: white;
/*	border: 1px solid white;*/
	margin-top: 10px;
	text-align: center;
}
.wrapper .login-text .text h3{
	font-size: 42px;
	margin: 10px 0;
}
.wrapper .login-text .text p{
	font-size: 19px;
}
.footer{
	padding: 30px 100px;
	background-color: rgb(0,118,64);
}
.footer p{
	font-size: 18px;
	color: white;
	text-align: right;
}