@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');  
* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;   
    font-family: Raleway, sans-serif;  
}  
body {  
  height: 100vh;  
  margin: 0 auto;  
  position: relative;  
background: linear-gradient(to right, #99b5c1, #7e7bb9, #c788b1, #edaf3f);  
}  
.container {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    min-height: 100vh;  
}  
h2 {  
  text-align: center;  
  font-weight: normal;  
  color: linear-gradient(55deg, #c788b1, #c788b1);  
  text-transform: uppercase;  
  font-size: 1em;  
  white-space: nowrap;  
  font-size: 4vw;  
  z-index: 1000;  
  font-family: 'Bangers', cursive;  
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);  
  @include skew(0, -6.7deg, false);  
  @include transition-property(font-size);  
  @include transition-duration(0.5s);  
}  
.hello {  
  text-align: center;  
  font-weight: bold;  
  color:#6d54a4;  
  text-transform: uppercase;  
  font-size: 1em;  
  white-space: nowrap;  
  font-size: 1vw;  
  z-index: 1000;  
  font-family: 'Bangers', cursive;  
  @include skew(0, -6.7deg, false);  
  @include transition-property(font-size);  
  @include transition-duration(0.5s);   
}  
.sc {         
    background: linear-gradient(55deg, #c788b1, #c788b1);         
    position: relative;   
    height: 600px;  
    width: 560px;     
    box-shadow: 0px 0px 24px #5C5696;  
}  
.screen__content {  
    z-index: 1;  
    position: relative;   
    height: 100%;  
}  
.sb {         
    position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    z-index: 0;  
    -webkit-clip-path: inset(0 0 0 0);  
    clip-path: inset(0 0 0 0);    
}  
.sbh {  
    transform: rotate(45deg);  
    position: absolute;  
}  
.sbh1 {  
    height: 520px;  
    width: 520px;  
    background: #FFF;     
    top: -50px;  
    right: 120px;     
    border-radius: 0 72px 0 0;  
}  
.sbh2 {  
    height: 220px;  
    width: 220px;  
    background: #6C63AC;      
    top: -172px;  
    right: 0;     
    border-radius: 32px;  
}  
.sbh3 {  
    height: 540px;  
    width: 190px;  
    background: linear-gradient(170deg, #6D54A4, #6A679E);  
    top: -24px;  
    right: 0;     
    border-radius: 32px;  
}  
.sbh4 {  
    height: 400px;  
    width: 400px;  
    background: #7E7BB9;      
    top: 420px;  
    right: 50px;      
    border-radius: 60px;  
}  
.login {  
    width: 320px;  
    padding: 30px;  
    padding-top: 156px;  
}  
.login__field {  
    padding: 20px 0px;    
    position: relative;   
}  
.login__icon {  
    position: absolute;  
    top: 30px;  
    color: #7875B5;  
}  
.login__input {  
    border: none;  
    border-bottom: 2px solid #D1D1D4;  
    background: none;  
    padding: 10px;  
    padding-left: 24px;  
    font-weight: 700;  
    width: 75%;  
    transition: .2s;  
}  
.login__input:active,  
.login__input:focus,  
.login__input:hover {  
    outline: none;  
    border-bottom-color: #6A679E;  
}  
.login__submit {  
    background: #fff;  
    font-size: 20px;  
    margin-top: 30px;  
    padding: 16px 20px;  
    border-radius: 26px;  
    border: 1px solid #D4D3E8;  
    text-transform: uppercase;  
    font-weight: 900;  
    display: flex;  
    align-items: center;  
    color: #4C489D;  
    box-shadow: 0px 2px 2px #5C5696;  
    cursor: pointer;  
    transition: .2s;  
}  
.login__submit:active {  
    border-color: #6A679E;  
    outline: none;  
}  
.login__submit:focus {  
    border-color: #6A679E;  
    outline: none;  
}  
.login__submit:hover {  
    border-color: #6A679E;  
    outline: none;  
}  
.button__icon {  
    font-size: 24px;  
    margin-left: 10px;  
    color: #7875B5;  
}  
.social-login {   
    position: absolute;  
    height: 240px;  
    width: 160px;  
    text-align: center;  
    bottom: 0px;  
    right: 0px;  
    color: #fff;  
}  
.social-icons {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
}  
.sli {  
    padding: 20px 10px;  
    color: #fff;  
    text-decoration: none;    
    text-shadow: 0px 0px 8px #7875B5;  
}  
.sli:hover {  
    transform: scale(1.5);    
}  
.icon-lock {  
  width: 48px;  
  height: 48px;  
  position: relative;  
  overflow: hidden;  
  margin-left: 25px;  
  margin-bottom: 25px;  
}  
.icon-lock .lock-top-1 {  
  width: 40%;  
  height: 40%;  
  position: absolute;  
  left: 50%;  
  margin-left: -20%;  
  top: 14%;  
  background-color: #000;  
  border-radius: 40%;  
}  
.icon-lock .lock-top-2 {  
  width: 24%;  
  height: 40%;  
  position: absolute;  
  left: 50%;  
  margin-left: -12%;  
  top: 22%;  
  background-color: #151517;  
  border-radius: 25%;  
}  
.icon-lock .lock-body {  
  width: 60%;  
  height: 48%;  
  position: absolute;  
  left: 50%;  
  margin-left: -30%;  
  bottom: 11%;  
  background-color: #000;  
  border-radius: 15%;  
}  
.icon-lock .lock-hole {  
  width: 16%;  
  height: 16%;  
  position: absolute;  
  left: 50%;  
  margin-left: -8%;  
  top: 51%;  
  border-radius: 100%;  
  background-color: #151517;  
}  
.icon-lock .lock-hole:after {  
  content: " ";  
  width: 43%;  
  height: 78%;  
  position: absolute;  
  left: 50%;  
  margin-left: -20%;  
  top: 100%;  
  background-color: inherit;  
}  