*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto' sans-serif;
}
.wrapper{
	width: 100%;
	background-image: url('../userspage/assets/images/home_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 10px;
/*	border: 1px solid black;*/
	display: flex;
}
.wrapper .login-form{
	width: 48%;
}

/*to adjust the pading space on the login-form section*/

.wrapper .login-form .login-form-container{
	width: 58%;
	margin: 0 auto;
	background-color: white;
	margin-top: 100px;
	margin-left: 140px;
	padding: 30px 25px;
	border: 1px solid rgba(0,118,64);
	border-radius: 15px;	
}
.wrapper .login-form .login-form-container h3{
	font-size: 23px;
	text-align: center;
}
.wrapper .login-form .login-form-container form{
	margin-top: 25px;
}
.wrapper .login-form .login-form-container form label{
	font-size: 14px;
	margin-bottom: 20px;
}
.wrapper .login-form .login-form-container form .input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 5px;
  transition: all .3s ease;
	background: #F1F5F5;
	position: relative;
}
.wrapper .login-form .login-form-container form .icon {
  background: #fff;
  color: rgb(224, 224, 224, 1.0);
  text-align: center;
  font-size:15px;
  position: absolute;
  top: 10px;
  left: 15px;
}
.wrapper .login-form .login-form-container form .input-field {
  width: 100%;
  height: 35px;
  font-size:13px !important;
  padding: 5px;
  padding-left: 40px;
  outline: none;  
  border:1px solid rgb(147, 147, 147) !important;
  border-radius: 4px;
  color:#000;
  transition: alls .3s ease;
}
.wrapper .login-form .login-form-container form .input-field:focus, .wrapper .login-form .login-form-container form .input-field:active, .wrapper .login-form .login-form-container form .input-field:hover{
	border: 1px solid #007640;
	box-shadow: 0px 0px 24px 0px rgba(5, 79, 224, 0.13)
}
.wrapper .login-form .login-form-container form .check{
	display: flex;
	justify-content: space-between;
}
.wrapper .login-form .login-form-container form .check .remember{
	display: flex;
}
.wrapper .login-form .login-form-container form .check .remember input{
	display: none !important;
}
.wrapper .login-form .login-form-container form .check .remember label{
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #ccc;
	border: 3px solid #ccc;
	padding: 2px;
	cursor: pointer;
}
.wrapper .login-form .login-form-container form .check .remember input:checked + label{
	background-color: #4CAF50;
}
.wrapper .login-form .login-form-container form .check .remember p{
	font-size: 14px;
	margin-top: 2px;
	margin-left: 5px;
}
.wrapper .login-form .login-form-container form .check .forgot a{
	font-size: 14px;
	text-decoration: none;
	color: black;
	transition: .5s ease;
}
.wrapper .login-form .login-form-container form .check .forgot a:hover{
	color: rgba(0,118,64);
}
.wrapper .login-form .login-form-container form .submit input{
	width: 320px;
	height: 45px;
	color: white;
	background-color: rgba(0,118,64);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/*to adjust the padding-top of login-text section*/

.wrapper .login-text{
	width: 52%;
/*	border: 1px solid white;*/
	padding: 70px 50px 100px 0px;
}
.wrapper .login-text .logo{
	width: 160px;
	height: 160px;
	margin-left: 27%;
/*	margin: 0 auto;*/
}
.wrapper .login-text .logo img{
	width: 100%;
	height: 100%;
}
.wrapper .login-text .text{
	width: 70%;
	color: white;
	margin-left: 30px;
/*	border: 1px solid white;*/
	margin-top: 8px;
	text-align: center;
}
.wrapper .login-text .text h3{
	font-size: 38px;
	margin: 8px 0;
}
.wrapper .login-text .text p{
	font-size: 16px;
}
.footer{
	padding: 30px 100px;
	background-color: rgb(0,118,64);
}
.footer p{
	font-size: 18px;
	color: white;
	text-align: right;
}
@media screen and (min-width:2000px){
	.wrapper{
		width: 100%;
		height: 2300px !important;
	}
}
@media screen and (min-width: 1439px){
	.wrapper{
		width: 100%;
		height: 960px !important;
	}
	.wrapper .login-form .login-form-container{
		width: 65%;
		margin-top: 300px;
		margin-left: 140px;
		padding: 30px 30px;
	}
	.wrapper .login-form .login-form-container h3{
		font-size: 30px;
	}
	.wrapper .login-form .login-form-container form{
		margin-top: 25px;
	}
	.wrapper .login-form .login-form-container form label{
		font-size: 16px;
	}
	.wrapper .login-form .login-form-container form .input-container {	
		position: relative;
	}
	.wrapper .login-form .login-form-container form .icon {
	  font-size:16px;
	  position: absolute;
	  top: 17px;
	}
	.wrapper .login-form .login-form-container form .input-field {
	  height: 50px;
	}
	.wrapper .login-form .login-form-container form .submit input{
		width: 100%;
		height: 50px;
	}
	.wrapper .login-text{
		padding: 240px 50px 100px 0px !important;
	}
	.wrapper .login-text .logo{
		width: 180px;
		height: 180px;
		margin-left: 29%;
	}
	.wrapper .login-text .text{
		width: 75%;
	}
	.wrapper .login-text .text h3{
		font-size: 40px;
		margin: 8px 0;
	}
	.wrapper .login-text .text p{
		font-size: 18px;
	}
}